<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.6.16" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Selenium.Support" version="3.9.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.9.0" targetFramework="net461" />
  <package id="SpecFlow" version="2.2.1" targetFramework="net461" />
  <package id="TeamControlium.Utilities" version="1.0.0" targetFramework="net461" />
</packages>